<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.1.2</string>
	<key>CFBundleVersion</key>
	<string>20</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Bryson. MIT License.</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://kodomon.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>tK9j/JqcWG5srxjIeqiEBGlcTFF7ysEvKIGl3ZuJN1A=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>14400</integer>
</dict>
</plist>
